@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.147 0.004 49.25);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.147 0.004 49.25);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.147 0.004 49.25);
  --primary: oklch(0.216 0.006 56.043);
  --primary-foreground: oklch(0.985 0.001 106.423);
  --secondary: oklch(0.97 0.001 106.424);
  --secondary-foreground: oklch(0.216 0.006 56.043);
  --muted: oklch(0.97 0.001 106.424);
  --muted-foreground: oklch(0.553 0.013 58.071);
  --accent: oklch(0.97 0.001 106.424);
  --accent-foreground: oklch(0.216 0.006 56.043);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.923 0.003 48.717);
  --input: oklch(0.923 0.003 48.717);
  --ring: oklch(0.709 0.01 56.259);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.001 106.423);
  --sidebar-foreground: oklch(0.147 0.004 49.25);
  --sidebar-primary: oklch(0.216 0.006 56.043);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.97 0.001 106.424);
  --sidebar-accent-foreground: oklch(0.216 0.006 56.043);
  --sidebar-border: oklch(0.923 0.003 48.717);
  --sidebar-ring: oklch(0.709 0.01 56.259);
}

.dark {
  --background: oklch(0.147 0.004 49.25);
  --foreground: oklch(0.985 0.001 106.423);
  --card: oklch(0.216 0.006 56.043);
  --card-foreground: oklch(0.985 0.001 106.423);
  --popover: oklch(0.216 0.006 56.043);
  --popover-foreground: oklch(0.985 0.001 106.423);
  --primary: oklch(0.923 0.003 48.717);
  --primary-foreground: oklch(0.216 0.006 56.043);
  --secondary: oklch(0.268 0.007 34.298);
  --secondary-foreground: oklch(0.985 0.001 106.423);
  --muted: oklch(0.268 0.007 34.298);
  --muted-foreground: oklch(0.709 0.01 56.259);
  --accent: oklch(0.268 0.007 34.298);
  --accent-foreground: oklch(0.985 0.001 106.423);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.553 0.013 58.071);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.216 0.006 56.043);
  --sidebar-foreground: oklch(0.985 0.001 106.423);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.268 0.007 34.298);
  --sidebar-accent-foreground: oklch(0.985 0.001 106.423);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.553 0.013 58.071);
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-10%);
    }
}

.slider {
    display: flex;
    width: 400%;
    animation: scroll 40s linear infinite;
    
}

/* Content Area */
@keyframes borderPulse {
  0%   { border-color: #a77ad3; }
  33%  { border-color: #ff7e5f; }
  66%  { border-color: #34d399; }
  100% { border-color: #a77ad3; }

}
.border-animate {
  animation: borderPulse 6s linear infinite;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 30px;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.9s;
}

.home-content h1 {
  font-size: 50px;
  font-weight: 700;
  margin: -5px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content p {
  font-size: 22px;
  max-width: 100%;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1.2s;
}

.home-scl .bx {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid rgb(140, 140, 237);
  border-radius: 50%;
  font-size: 20px;
  text-decoration: none;
  transition: 0.5s ease;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i, 1));
  margin: 30px 15px 0 0;
}

.home-scl .bx:hover {
  background: rgb(46, 88, 146);
  box-shadow:
    0 0 20px rgb(170, 108, 194),
    0 0 40px rgb(170, 108, 194),
    0 0 80px rgb(170, 108, 194);
}

/* Button */
.btn-box {
  display: inline-block;
  padding: 12px 28px;
  border-radius: 40px;
  /* color: #081b29; */
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 500;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow:
    0 0 5px rgb(83, 113, 182),
    0 0 25px rgb(99, 142, 203);
}

.btn-box:hover {
  box-shadow:
    0 0 5px rgb(188, 116, 194),
    0 0 25px rgb(188, 116, 194),
    0 0 50px rgb(188, 116, 194),
    0 0 100px rgb(188, 116, 194),
    0 0 200px rgb(188, 116, 194);
}
.border-animate{
     box-shadow:
    0 0 105px rgb(83, 113, 182),
    0 0 50px rgb(99, 142, 203);
}


/* ===== Animations ===== */
@keyframes slideBottom {
  0% { transform: translateY(-50px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}
@keyframes slideTop {
  0% { transform: translateY(50px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}
@keyframes slideRight {
  0% { transform: translateX(-50px); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}
@keyframes slideLeft {
  0% { transform: translateX(50px); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}

.about-img img{
    padding-bottom: 20px;
    max-width: 600px;
     height: auto;
     width: 40%; 
    margin: auto;
    border-radius: 50%; 
     opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 75px rgb(83, 113, 182),
    0 0 100px rgb(99, 142, 203);

}

@keyframes borderPulse {
  0%   { border-color: #a77ad3; }
  33%  { border-color: #ff7e5f; }
  66%  { border-color: #34d399; }
  100% { border-color: #a77ad3; }

}
.border-animate-img {
  animation: borderPulse 6s linear infinite;
}

.about-text h2{
    font-size: 60px;
    text-align: center;
    margin: 0;
}

.about-text h4{
    font-size: 29px;
    font-weight: 600;
    line-height: 1.7;
    text-align: center;
    margin: 15px 0 30px;
    margin: 0;
}
.about-text p{
    font-size: 20px;
    line-height: 1.4;
    width: 70%;
    margin-bottom: 4rem;
    margin: auto;
}
 #services{
    font-size: 20px;
    line-height: 1.4;
}
.sub-title {
    text-align: center;
    font-size: 60px;
    padding-bottom:  70px;
}


.services-list div{
    background: transparent;
    padding: 40px;
    font-size: 14px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px  rgb(83, 113, 182),
    1px 1px 40px  rgb(83, 113, 182)
 
}
.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;

}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;

}
.services-list div a{
    text-decoration: none;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
} 
.read{
    display: inline-block;
    padding: 12px;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5p  rgb(83, 113, 182),
    0 0 25px  rgb(83, 113, 182),;

}
.read:hover{
     box-shadow:
       0 0 5px rgb(71, 171, 153),
    0 0 25px rgb(55, 185, 152),
    0 0 50px rgb(41, 172, 139),
    0 0 100px rgb(73, 199, 186),
    0 0 200px rgb(61, 166, 159);  
}

 
    .container1, .container2 {
    width: 100%;
    height: auto;
     padding: 75px 90px;   
   

  }  
/* ===== Home Section ===== */




.heading1 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}
.bar {
    font-size: 23px;
}
.Technical-bars .bar {
    margin: 40px 0;
}
.Technical-bars .bar .info span {
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}
.Technical-bars .bar .progress-info {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #081b29;
    animation: animate 1s ease-in-out forwards;
    transform: scaleX(0);
    transform-origin: left;
}
@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}
.Technical-bars .bar .progress-info span {
    height: 100%;
    background-color: rgb(45, 131, 152);
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s ease-in-out forwards;
    transform: scaleX(0);
    transform-origin: left;
}
.progress-info.html span { width: 90%; }
.progress-info.css span { width: 60%; }
.progress-info.javascript span { width: 85%; }
.progress-info.python span { width: 50%; }
.progress-info.react span { width: 75%; }

.progress-info span::after {
    position: absolute;
    padding: 1px 8px;
    background-color: #081b29;
    color: whitesmoke;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}
.progress-info.html span::after { content: "90%"; }
.progress-info.css span::after { content: "60%"; }
.progress-info.javascript span::after { content: "85%"; }
.progress-info.python span::after { content: "50%"; }
.progress-info.react span::after { content: "75%"; }

@keyframes showText {
    100% {
        opacity: 1;
    }
}

/* ==== Radial Bars ==== */
.radial-bars {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
.radial-bars .radial-bar {
    width: 170px;
    height: 170px;
    margin-bottom: 20px;
    position: relative;
}
.radial-bars .radial-bar svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 120px;
}
.progress-bar {
    stroke-width: 10;
    stroke: #081b29;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
}
.path {
    stroke-width: 10;
     stroke: rgb(45, 131, 152);;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}
/* animation per circle */
.path-1 { animation: animate-path1 2s forwards; }
.path-2 { animation: animate-path2 2s forwards; }
.path-3 { animation: animate-path3 2s forwards; }
.path-4 { animation: animate-path4 2s forwards; }

@keyframes animate-path1 { 100% { stroke-dashoffset: 50; } }   /*90% */
@keyframes animate-path2 { 100% { stroke-dashoffset: 175; } }  /*65% */
@keyframes animate-path3 { 100% { stroke-dashoffset: 125; } }  /*75% */
@keyframes animate-path4 { 100% { stroke-dashoffset: 100; } } /* 80% */

.radial-bar .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}
.radial-bar .text {
    width: 100%;
    position: absolute;
    bottom: -25px;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}


.contact-text h2 {
    font-size: 90px;
    line-height: 1;
    text-align: center;
}

.contact-text h4 {
    margin: 15px 0;
    font-size: 20px;
    font-weight: 600;
}
.contact-text p {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}
.contact-list {
    margin-bottom: 3rem;
}
.contact-list li {
    margin-bottom: 10px;
    display: block;
}
.contact-list i {
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
}
.contact-list li a:hover {
    transform: scale(1.01) translateY(-5px);
}
.contact-icons i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(140, 140, 237);
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    transition: .5s ease;
}
.contact-icons i:hover {
    background: rgb(206, 175, 227);
    color: black;
    box-shadow: 0 0 20px rgb(199, 125, 206);
}
.contact-form form {
    position: relative;
}
.contact-form form input,
.contact-form form textarea {
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #555557;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}
.contact-form textarea {
    resize: none;
    height: 220px;
}
.contact-form form .sent {
    display: inline-block;
    padding: 12px;
    border-radius: 40px;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px rgb(83, 113, 182),
    0 0 25px rgb(99, 142, 203);
}
.contact-form form .sent:hover {
    box-shadow: 0 0 5px rgb(188, 116, 194),
    0 0 25px rgb(188, 116, 194),
    0 0 50px rgb(188, 116, 194),
    0 0 100px rgb(188, 116, 194),
    0 0 200px rgb(188, 116, 194);
}
.top {
    position: fixed;
    right: 2.1rem;
    bottom: 2.1rem;
}
.top i {
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}










@keyframes slideRight{
    0%{
        
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
      
        transform: translateX(0px);
          opacity: 1;
    }
}
@keyframes slideleft{
    0%{
        
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
      
        transform: translateX(0px);
          opacity: 1;
    }
}
@keyframes slideTop{
    0%{
        
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
      
        transform: translateY(0px);
          opacity: 1;
    }
}
@keyframes slideBottom{
    0%{
        
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
      
        transform: translateY(0px);
          opacity: 1;
    }
} ;

